In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score,GridSearchCV
from sklearn.utils import resample

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('/Users/han-eunbi/Desktop/UIUC/23Spring/IE517/data/ccdefault.csv')
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
X = df.drop(['ID','DEFAULT'],axis=1)
y = df['DEFAULT']
X.shape,y.shape

((30000, 23), (30000,))

In [20]:
# random_state 1~10

inscore=[]
outscore=[]

for i in range(1,11):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.1,stratify = y, random_state=i)

    clf = DecisionTreeClassifier(random_state=123)
    clf.fit(X_train,y_train)
    inscore.append(clf.score(X_train,y_train))
    outscore.append(clf.score(X_test,y_test))

In [21]:
print("Individual Accuracy Scores for in-sample")
print(np.round(inscore,5))
print("Mean for in sample test : ",np.round(np.mean(inscore),3))
print("STD for in sample test : ",np.round(np.std(inscore),5))

Individual Accuracy Scores for in-sample
[0.99933 0.99937 0.99944 0.99941 0.9993  0.9993  0.9993  0.99937 0.99937
 0.99937]
Mean for in sample test :  0.999
STD for in sample test :  5e-05

In [14]:
print("Individual Accuracy Scores for out-of-sample")
print(np.round(outscore,5))
print("Mean for out-of-sample test : ",np.round(np.mean(outscore),3))
print("STD for in out-of-sample test : ",np.round(np.std(outscore),3))

Individual Accuracy Scores for out-of-sample
[0.72333 0.72367 0.72833 0.73467 0.72733 0.70867 0.74033 0.71533 0.714
 0.72   ]
Mean for out-of-sample test :  0.724
STD for in out-of-sample test :  0.009

In [17]:
skf = StratifiedKFold(n_splits=10)
clf = DecisionTreeClassifier(random_state=0)

cv_score = cross_val_score(clf,X,y,cv=skf)

print("Individual Accuracy Scores for out-of-sample")
print(np.round(cv_score,5))
print("Mean for out-of-sample test : ",np.round(np.mean(cv_score),3))
print("STD for in out-of-sample test : ",np.round(np.std(cv_score),3))

Individual Accuracy Scores for out-of-sample
[0.713   0.72733 0.71867 0.71333 0.71433 0.72833 0.73233 0.73733 0.73633
 0.72833]
Mean for out-of-sample test :  0.725
STD for in out-of-sample test :  0.009

Results from loop and stratifiedKfold are very similar

In [22]:
print("My name is Eunbi Han")
print("My NetID is: eunbih2")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is Eunbi Han
My NetID is: eunbih2
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.